<div class="col-lg-12">
  <h3 class="mt-4 mb-4">Listing Movies</h3>
    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-lg-6">
         <div class="card shadow mb-3 mt-2">
          <div class="card-body">
            <h5 class="card-title">Title: <%= movie.title %></h5>
            <p class="lead">Description: <%= truncate(movie.description, length: 50)%></p>
            <h5>Category: <span class="badge bg-primary"><%= movie.category%></span></h5>
            <%= link_to 'View Details', movie, class: "btn btn-danger"%>
          </div>
         </div>
        </div>
      <% end %>
    <div>
</div>
