<script>
    $('.dropdown-toggle').dropdown()
</script>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <%= link_to "Movie_Review", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Filter _By_</span>
                        Category
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <% Category.all.each do |category| %>
                            <li class="<%= 'active' if params[:category] == category.name %>">
                                <%= link_to category.name, movies_path(category: category.name), :class => 'dropdown-item' %>
                            </li>
                        <% end %>
                    </ul>
                </li>
            </ul>
            <div class="d-flex" role="button">
                <%= render 'shared/auth' %>
            </div>
        </div>
    </div>
</nav>
