<div class="mt-2 col-lg-12">
    <div class="mb-3">
        <%= render 'search'%>
    </div>
    <%= render 'shared/movies', movies: @movies, section_title: 'IMDB Movies'%>
    <%= paginate @movies, theme: 'bootstrap-5'%>
</div>
